<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.iaconelli.screenshot-upload</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-l</string>
        <string>__HOME__/.local/bin/upload-screenshot.sh</string>
    </array>
    
    <key>WatchPaths</key>
    <array>
        <string>__HOME__/Documents/Screenshots</string>
    </array>
    
    <key>ThrottleInterval</key>
    <integer>2</integer>
    
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/screenshot-upload-launchd.log</string>
    
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/screenshot-upload-launchd.log</string>
</dict>
</plist>
